body {
	margin: 0px;
	padding: 0px;

	overflow: hidden;
}
#info {
	position: absolute;
}
tr, th, td {
	border: 1px solid #AAAAAA;
	text-align: center;
	min-width: 50px;
	max-width: 130px;
	padding: 5px;
}
.corner {
	border: none;
}
.select {
	background: #529AE3;
	border: 1px solid #315273;

	position: absolute;
	left: 0px;
	top: 0px;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity.20)";
	filter: alpha(opacity.20); 
	-khtml-opacity: 0.2;
	opacity: 0.2; 
}
.hello {
	background: black;

	position: absolute;
	left: 0px;
	top: 0px;

	width: 5px;
	height: 5px;
}